*{
    box-sizing: border-box;
}

body{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background: #f1f5f8;     
}
.navbar{
    width: 100%;
    /* margin: auto;
    padding: 15px 30px; */
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;    
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    z-index: 3;    
}

.fixed{
    background: #000; 
    position: fixed;   
}

.navbar a{
    text-decoration: none;
    color: #ffffff;    
}

.logo{    
    font-size: 20px;
    font-weight: 600;    
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #2a9d8f;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
} 
