*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

/* landing */

.landing{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://images.unsplash.com/3/doctype-hi-res.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=746&q=80);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 15px 30px;
    display: flex;
    position: sticky;
    top: 0;    
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.sticky{
    background: rgba(0,0,0,0.75); 
    position: fixed;   
}

.navbar a{
    text-decoration: none;
    color: #fff;    
}

.logo{    
    font-size: 20px;
    font-weight: 600;    
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #2a9d8f;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    text-align: center;
    justify-items: center;
    color: #fff;    
}

.content p{
    margin: auto;    
    font-size: 30px;
}

.boton{
    width: 200px;
    padding: 10px 0;    
    margin: 40px auto;
    border: 2px solid #2a9d8f;    
}

.boton a{
    text-decoration: none;
    color: #fff;
}

.boton:hover{
    background: #2a9d8f;
}

/* seccion 2 */

.seccion2{    
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 20px 0;
    height: 100vh;
    align-items: center;
}

.seccion2 .text{
    width: 40%;
}

.seccion2 .text h3{
    padding: 10px 0;
}

/* seccion 3 */

.seccion3{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    gap: 25px;
    height: 400px;
    align-items: center;
    background: #e9ecef;
}

.seccion3 .text{
    width: 40%;
}

.seccion3 .text h3{
    padding: 10px 0;
    margin-bottom: 10px;
}

.seccion3 .text a{
    color: #2a9d8f;
    margin: 5px;
    border: #2a9d8f solid 1px; 
    padding: 10px;    
}

.seccion3 .text a:hover{
    background: #2a9d8f;
    color: #fff;
}
.seccion3 .video{
    width: 400px;
}